#MainMenu, footer, header {
    visibility:hidden;
}

.css-ocqkz7 img {
    max-width: 60% !important;
    aspect-ratio: 20/18;
    margin: auto;
    object-fit: cover;
    object-position: top;
    padding: 0.15rem;
    border-radius: 20px;
    border: 2px solid #0083B8;
}

.css-ocqkz7  .css-keje6w {
    align-self: center;
}

.css-ocqkz7 .css-1kyxreq {
    justify-content: center
}

.css-ocqkz7 .css-zt5igj {
    font-size: 1.75rem;
    text-align: center;
    color: #0083B8;
}

.css-ocqkz7 .css-1jikqva.e16nr0p33 {
    text-align: center;
}

.css-ocqkz7 .css-1jikqva.e16nr0p33 p{
    font-size: 1.15em;
}

.css-ocqkz7 .css-g5vx4n .css-1jikqva  h2 {
    padding: 0.25rem 0;
    font-size: 2rem;
    text-align: center;
}

#meet-the-team .css-zt5igj, #who-we-are .css-zt5igj, #why-us .css-zt5igj{
    font-size:  2.25rem !important;
    border-bottom: 2px solid #0083B8;
    margin: 0 1rem 1.5rem;
    padding-bottom: 1.5rem;
}

.element-container.css-w3z1ua > div {
    text-align: center;
    border-radius: 7px;
    padding: 1rem;
    box-shadow: 1px 1px 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0083b8;
}

.element-container.css-w3z1ua > div .css-1xarl3l {
    color: #00172b;
}

#about-landing {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    text-align: center;
    justify-content: space-evenly;
    background: url("https://media.itpro.co.uk/image/upload/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1570817028/itpro/2018/10/ai_shutterstock_651441421.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 8rem 2rem;
    position: relative;
    margin-bottom: 2rem;
}

h1#convert-your-data-into-dollars span {
    font-size: 1.5em;
    font-family: cursive;
    color: #0083B8;
}

#about-caption {
    font-size: 1.5em;
}

#about-caption span {
    font-size: 1.5em;
    font-family: cursive;
    color: #0083B8;
}

.main {
    background-image: url("/resources/imgs/Image_header.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#mission-statement {
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-size: 2.15em;
    color: #0083B8;
    padding: 3rem;
    background: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/626D/production/_125379152_aigettyimages-1160995648.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}